.front {
  width: inherit;
}

.back {
  background-color: rgba(0, 0, 0, 0.5);
  width: inherit;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hoverCardTitle {
  position: absolute;
  color: white;
  font-size: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.hoverCardSubtitle {
  padding: 10px;
  text-align: center;
}

.extendedIcon {
  margin-right: 5px;
}