@import '../../../node_modules/react-modal-video/scss/modal-video.scss';

.servicesBackgroundImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1000;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../configuration/images/servicesBackground.jpg") !important;
  }

  .blurBackgroundImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1000;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background: rgba(0, 0, 0, 0.5);
  }

  .newsCard {
    width: auto !important;
  }

  .servicesCardsContainer {
    padding-top: 30px;
  }

  
.fancy-title-8 {
  font-family: "Source Sans Pro";
  letter-spacing: 0px;
  text-transform: none;
  font-size: 73px;
  line-height: 80%;
  text-align: left;
  font-style: inherit;
  font-weight: 300;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #404040;
  margin: 0 0 .8em;
  word-wrap: break-word;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.pp-color-gradient {
  background: -webkit-linear-gradient(left, #E5007D, #e2c000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 0.75em;
}

.mk-fancy-title {
  margin-bottom: 18px;
}

.mk-animate-element {
  -webkit-animation: mk_left_to_right .6s 1 cubic-bezier(.77,0,.175,1);
  animation: mk_left_to_right .6s 1 cubic-bezier(.77,0,.175,1);
  opacity: 1;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
}

@keyframes mk_left_to_right{
  0%{
    -webkit-transform:translate(-15%,0);
    transform:translate(-15%,0);
    opacity:0
  }
  100%{
    -webkit-transform:translate(0,0);
    transform:translate(0,0);
    opacity:1
  }
}

.pp-title {
  padding-left: 30px;
}

.flippingCardRoot {
  min-width: fit-content;
  min-height: 200px;
  margin: 0;
}

.frontCardRoot {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  width: 100%;
}

.backCardRoot {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  width: 100%;
}

.colorOne{
  background: rgba(229,0,125,0.3);
}
.colorTwo{
  background: rgba(228,80,73,0.3);
}
.colorThree{
  background: rgba(227,130,40,0.3);
}
.colorFour{
  background: rgba(226,188,3,0.3);
}